Repository logstash-plugins/logstash-filter-mutate, pull requests merged in 2021-09, with the labels that each got.

#101 Add warning about #27
  docs/index.asciidoc
Labels: docs, status:approved

#155 In 'replace' documentation, mention 'add' behavior
  docs/index.asciidoc
Labels: docs, status:needs-triage

#160 Format admonition for emphasis
  docs/index.asciidoc
Labels: docs
